<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
=======

>>>>>>> f43ca35617f5eb77dce0b341e93004ebd2c072c8
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<<<<<<< HEAD
<body>
    <form action="/login" method="POST">
    
        userID: <input type="text" name="userID"><br>
        password: <input type="password" name="password">

=======

<body>

    <h1>Login</h1>
    <form action="/login" method="POST">

        username: <input type="text" name="username"><br>
        password: <input type="password" name="password"><br>
>>>>>>> f43ca35617f5eb77dce0b341e93004ebd2c072c8

        <input type="submit">
    </form>
</body>
<<<<<<< HEAD
=======

>>>>>>> f43ca35617f5eb77dce0b341e93004ebd2c072c8
</html>