<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Home Page</h1>

    <% if (city) { %>
        <h3><%= city %> </h3>
    <% } %>
    

    <img src="<%= pic %>" alt="">  

    

    <% data.forEach(element => { %>
     <h3><%= element.state %> has <%= element.cases %> cases </h3>
    <% }) %>


    

      

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam velit nemo, molestiae veritatis necessitatibus impedit et debitis inventore, accusantium perspiciatis doloremque recusandae mollitia ab vero assumenda voluptate. Fugiat, facere!</p>


</body>
</html>